.container {
  width: 40px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.ball{
  width:18px ;
  height: 18px;
  border-radius: 50%;
  position: absolute;
}