.container{

}

.title{
  margin: 50px 0px;
}

.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.category{
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 8px;
}

.image{
  border-radius: 50%;
}

.category.style{
  background-color: #57c4ff31;
}

.category.fashion{
  background-color: #af490931;
}
.category.travel{
  background-color: #199fff68;
}
.category.culture{
  background-color: #ff57d831;
}
.category.coding{
  background-color: #3138565d;
}
.category.food{
  background-color: #57ff5d31;
}

@media screen and (max-width: 1280px) {
  .category{
    width: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .category{
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .category{
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .category{
    width: 100%;
  }
}